/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


header
{
  .container 
  {
  
    border: 1px solid red;
    /*display: flex;
    flex-direction: row;*/

    .quick-navigation 
    {
      display: inline-block;
      border: 1px solid blue;
    }

    .branding 
    {
      display: inline-block;
      border: 1px solid green;
    }

    .user-tool 
    {
      display: inline-block;
      border: 1px solid grey;
    }
  }
}
/*
.button-group {
  background-color: red;
}

.branding {
  background-color: green;
}

.user-tool {
  background-color: blue;
}
/* button*/
/*
.btn {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 13px;
  line-height: 0.8125rem;
  font-weight: 500;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  border-radius: 3px;
  transition: background-color 0.3s;
  display: inline-block;
  margin: 0;
  padding: 7px 9px;
  border: 1px solid #e2e2e2;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.btn-default {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}

#setting-button {
  padding: 0px;
  margin: 0px;
  border: hidden;
}*/