<header>

  <div class="container">
    <div class = "quick-navigation button-group">
      <%= image_tag 'section-button.png', width:'104px', height:'30px', id:'section-button' %>
      <%= image_tag 'home-button.png', width:'75px', height:'30px', id:'home-button' %>
      <%= image_tag 'search-button.png', width:'85px', height:'30px', id:'search-button' %>
    </div>
  </div>
  
  <div class="branding">
    <h2>
      <a href = "https://www.nytimes.com/">
      <%= image_tag 'branding.png', width:'185px', height:'26px', id:'branding-pic' %>
      </a>
    </h2>  
  </div>

  <div class= "user-tool"
</header>
